{% extends 'SupinfoWebBundle::layout.html.twig' %}

{% block content_title %}Edit Loan{% endblock %}

{% block content %}
    <form class="form" action="{{ path('client_Loan_edit', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
        <h3>Loan</h3>

        {{ form_errors(form) }}

        {% for key, formChild in form.children %}
            {% if key is not sameas('articlesLoan') %}
                {{ form_row (formChild) }}
            {% endif %}
        {% endfor %}

        {% if form.children['articlesLoan'] %}
            <label>Articles:</label>

            {% for formChild in form.children['articlesLoan'] %}
                {% set fieldValue = formChild.all['value'] %}

                <div class="form_row">
                    {{ form_row(formChild, {'label': fieldValue.article.description}) }}
                    <a href="{{ path('client_Loan_delete_article', { 'loanId': entity.id, 'articleId': fieldValue.articleId}) }}">Delete</a>
                </div>
            {% endfor %}
        {% endif %}

        <input type="submit" value="Save" />
    </form>

    <form class="form" action="{{ path('client_Loan_edit', { 'id': entity.id }) }}" method="post" {{ form_enctype(formAddArticle) }}>
        <h3>Add Article</h3>

        {{ form_errors(formAddArticle) }}

        {{ form_rest(formAddArticle) }}

        <input type="submit" value="Add" />
    </form>
{% endblock %}