{% extends 'SupinfoWebBundle::layout.html.twig' %}

{% block content_title %}Loan View{% endblock %}

{% block content %}
    <table>
        <tr>
            <td>ID</td>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <td>Reason</td>
            <td>{{ entity.reason }}</td>
        </tr>
        <tr>
            <td>Date start</td>
            <td>{{ entity.dateStart|date() }}</td>
        </tr>
        <tr>
            <td>Date end</td>
            <td>{{ entity.dateEnd|date() }}</td>
        </tr>
        <tr>
            <td>User</td>
            <td><a href="{{ path('client_User_view', {'id': entity.user.id }) }}">{{ entity.user.username }}</a></td>
        </tr>
        <tr>
            <td>Articles</td>
            <td>
                <table>
                    <tr>
                        <th>Article</th>
                        <th>Quantity</th>
                        <th>Date start</th>
                        <th>Date end</th>
                    </tr>
                    {% for articleLoan in entity.articlesLoan %}
                        {% set article = articleLoan.article %}

                        <tr>
                            <td><a href="{{ path('client_Article_view', {'id': article.id} ) }}">{{ article.id }} - {{ article.description }}</a></td>
                            <td>{{ articleLoan.quantity }}</td>
                            <td>{{ articleLoan.dateStart|date() }}</td>
                            <td>{{ articleLoan.dateEnd|date() }}</td>
                        </tr>
                    {% else %}
                        <tr><td>There is not article in this loan.</td></tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
    </table>

    <a href="{{ path('client_Loan_print', {'id': entity.id} ) }}" target="__blank">Print</a>

    {% if is_granted('ROLE_ADMIN') or (is_granted('ROLE_CLIENT') and entity.user is sameas(app.security.token.user)) %}
        <a href="{{ path('client_Loan_edit', {'id': entity.id} ) }}">Edit</a>
    {% endif %}
{% endblock %}