{% extends 'SupinfoWebBundle::layout.html.twig' %}

{% block content_title %}Loan View{% endblock %}

{% block content %}
    <div>ID: {{ entity.id }}</div>
    <div>Reason: {{ entity.reason }}</div>
    <div>Date start: {{ entity.dateStart|date() }}</div>
    <div>Date end: {{ entity.dateEnd|date() }}</div>
    <div>User: <a href="{{ path('client_User_view', {'id': entity.user.id }) }}">{{ entity.user.username }}</a></div>
    <div>
        Articles:
        {% for articleLoan in entity.articlesLoan %}
            {% set article = articleLoan.article %}

            <div>
                <a href="{{ path('client_Article_view', {'id': article.id} ) }}">{{ article.id }} - {{ article.description }}</a>
                [Quantity : {{ articleLoan.quantity }}]
                [{{ articleLoan.dateStart|date() }} - {{ articleLoan.dateEnd|date() }}]
            </div>
        {% else %}
            There is not article in this entity.
        {% endfor %}
    </div>

    <a href="{{ path('client_Loan_print', {'id': entity.id} ) }}" target="__blank">Print</a>

    {% if is_granted('ROLE_ADMIN') or (is_granted('ROLE_CLIENT') and entity.user is sameas(app.security.token.user)) %}
        <a href="{{ path('client_Loan_edit', {'id': entity.id} ) }}">Edit</a>
    {% endif %}
{% endblock %}