{% extends 'SupinfoWebBundle::layout.html.twig' %}

{% block content %}
    <div>
        Id: {{ entity.displayId }}
    </div>
    <div>
        Username: {{ entity.username }}
    </div>
    <div>
        Firstname: {{ entity.firstName }}
    </div>
    <div>
        Lastname: {{ entity.lastName }}
    </div>
    <div>
        Type: {{ entity.typeString }}
    </div>


    <div>
        <h3>Loans:</h3>
        
        {% include('SupinfoWebBundle:Client/Loan:table.html.twig') with {'loans': loans} %}
    </div>


    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin_User_edit', {'id': entity.id} ) }}">Edit</a>
    {% endif %}
{% endblock %}