{% extends 'SupinfoWebBundle::layout.html.twig' %}

{% block content %}
    <div>
        Username: {{ entity.username }}
    </div>
    <div>
        Firstname: {{ entity.firstName }}
    </div>
    <div>
        Lastname: {{ entity.lastName }}
    </div>
    <div>
        Type: {{ entity.typeString }}
    </div>


    <h3>Loans:</h3>
    {% for loan in loans %}
        <div>
            <a href="{{ path('client_Loan_view', {'id': loan.id}) }}">{{ loan.displayId }} - {{ loan.reason }}</a>
        </div>
    {% else %}
        {{ entity.entityname }} has created no loan.
    {% endfor %}

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin_User_edit', {'id': entity.id} ) }}">Edit</a>
    {% endif %}
{% endblock %}