{% extends 'SupinfoWebBundle::layout.html.twig' %}

{% block content_title %}User View{% endblock %}

{% block content %}
    <div>
        <table class="key_val">
            <tr>
                <td>Id</td>
                <td>{{ entity.displayId }}</td>
            </tr>
            <tr>
                <td>Username</td>
                <td>{{ entity.username }}</td>
            </tr>
            <tr>
                <td>Firstname</td>
                <td>{{ entity.firstname }}</td>
            </tr>
            <tr>
                <td>Lastname</td>
                <td>{{ entity.lastname }}</td>
            </tr>
            <tr>
                <td>Type</td>
                <td>{{ entity.typeString }}</td>
            </tr>
        </table>
    </div>


    <div>
        <h3>Loans:</h3>
        
        {% include('SupinfoWebBundle:Client/Loan:table.html.twig') with {'loans': loans} %}
    </div>


    {% if is_granted('ROLE_ADMIN') %}
        <div>
            <a href="{{ path('admin_User_edit', {'id': entity.id} ) }}">Edit {{ entity.username }}</a>
        </div>
    {% endif %}
{% endblock %}