{% extends '::base.html.twig' %}

{% block title %}DSGF - {{ block('content_title') }}{% endblock %}

{% block body %}
    {% include 'SupinfoWebBundle::menu.html.twig' %}

    <div id="container">
        <h1 id="contentTitle">{% block content_title %}{% endblock %}</h1>

        {% if app.session.hasFlash('notice') %}
            {% block flash_notice %}
                <div id="flash-notice">
                    {{ app.session.flash('notice') }}
                </div>
            {% endblock %}
        {% endif %}

        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/styles.css') }}" />
{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/lib/jquery-1.6.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/scripts.js') }}"></script>
{% endblock %}