<div id="menu">
    <div>
        <div id="search">
            {% if is_granted('ROLE_CLIENT') %}
                {% include 'SupinfoWebBundle:Client/Search:form.html.twig' %}
            {% endif %}
        </div>
        
        <div id="login">
            {% if not is_granted('ROLE_USER') %}
                <a href="{{ path('login') }}">Login</a>
            {% endif %}

            {% if is_granted('ROLE_USER') %}
                Logged in as

                {% if app.security.token.user.id is defined %}
                    <a href="{{ path('client_User_view', {'id': app.security.token.user.id}) }}">
                        {{ app.security.token.user.username }}
                    </a>
                {% else %}
                    admin
                {% endif %}

                - <a href="{{ path('logout') }}">Logout</a>
            {% endif %}
        </div>

        <div class="clear"></div>

        <div id="header">
            <img src="{{ asset('img/header.png') }}" alt="">
        </div>
    </div>

    <div>
        <ul>
            <li{% if '/' is sameas(app.request.pathInfo) %} class="current"{% endif %}><a href="{{ path('homepage') }}">Home</a>

            {% if is_granted('ROLE_USER') %}
                <li{% if '/client/loan' in app.request.pathInfo %} class="current"{% endif %}><a href="{{ path('client_Loan_list') }}">Loans</a></li>
                <li{% if '/client/article' in app.request.pathInfo %} class="current"{% endif %}><a href="{{ path('client_Article_list') }}">Articles</a></li>
            {% endif %}
        </ul>
    </div>

    {% if is_granted('ROLE_ADMIN') %}
        <div>
            <ul>
                <li{% if '/admin/place' in app.request.pathInfo %} class="current"{% endif %}><a href="{{ path('admin_Place_list') }}">Place</a></li>
                <li{% if '/admin/article' in app.request.pathInfo %} class="current"{% endif %}><a href="{{ path('admin_Article_list') }}">Article</a></li>
                <li{% if '/admin/family' in app.request.pathInfo %} class="current"{% endif %}><a href="{{ path('admin_Family_list') }}">Family</a></li>
                <li{% if '/admin/sub-family' in app.request.pathInfo %} class="current"{% endif %}><a href="{{ path('admin_SubFamily_list') }}">SubFamily</a></li>
                <li{% if '/admin/structure' in app.request.pathInfo %} class="current"{% endif %}><a href="{{ path('admin_Structure_list') }}">Structure</a></li>
                <li{% if '/admin/user' in app.request.pathInfo %} class="current"{% endif %}><a href="{{ path('admin_User_list') }}">User</a></li>
                <li{% if '/admin/stats' in app.request.pathInfo %} class="current"{% endif %}><a href="{{ path('admin_Stats') }}">Stats</a></li>
            </ul>
        </div>
    {% endif %}
</div>