<div id="menu">
    <h1><a href="{{ path('homepage') }}">Supinfo backoffice</a></h1>
    <ul>
        <li><a href="{{ path('homepage') }}">Home</a></li>
    </ul>
    <ul>
        <li><a href="{{ path('Place_admin_list') }}">Place</a></li>
    </ul>
    <ul>
        <li><a href="{{ path('Article_admin_list') }}">Article</a></li>
    </ul>
    <ul>
        <li><a href="{{ path('Family_admin_list') }}">Family</a></li>
    </ul>
    <ul>
        <li><a href="{{ path('SubFamily_admin_list') }}">SubFamily</a></li>
    </ul>
</div>