{% extends 'SupinfoWebBundle::layout.html.twig' %}

{% block content_title %}Article Avaibility{% endblock %}

{% block content %}
    <div>
        <table>
            <tr>
                <td>Id</td>
                <td>{{ entity.displayId }}</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>{{ entity.description }}</td>
            </tr>
        </table>
    </div>

    <div>
        <a href="{{ path('client_Article_view', {'id': entity.id}) }}">View</a>
    </div>

    <div>
        <table>
            <tr>
                <th>Date</th>
                <th>Quantity</th>
            </tr>

            {% for result in results %}
                <tr>
                    <td>{{ result.date|date(date_format) }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td{% if result.quantity < 0 %} class="redB" {% endif %}>{{ result.quantity }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}