{% extends 'SupinfoWebBundle::layout.html.twig' %}

{% block content_title %}Article View{% endblock %}

{% block content %}
    <div>ID: {{ entity.id }}</div>
    <div>Description: {{ entity.description }}</div>
    <div>Code: {{ entity.code }}</div>
    <div>State: {{ entity.stateString }}</div>
    <div>Quantity: {{ entity.quantity }}</div>
    <div>Place: {{ entity.place }}</div>
    <div>SubFamily: {{ entity.subFamily }}</div>
    <div>Family: {{ entity.subFamily.family }}</div>

    <div>SubFamily fields:
        {% for fieldValue in entity.fieldValues %}
            <div>{{ fieldValue.subFamilyField }}: {{ fieldValue.value }}</div>
        {% endfor %}
    </div>

    {% if is_granted('ROLE_CLIENT') %}
        <h3>Add Article to Loan:</h3>
        <form action="" method="post">
            {{ form_errors(form) }}
            {{ form_rest(form) }}

            <input type="submit" />
        </form>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin_Article_edit', {'id': entity.id} ) }}">Edit</a>
    {% endif %}
{% endblock %}