{% extends 'SupinfoWebBundle::layout.html.twig' %}

{% block content_title %}Article View{% endblock %}

{% block content %}
    <table class="key_val">
        <tr>
            <td>ID</td>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{ entity.description }}</td>
        </tr>
        <tr>
            <td>Code</td>
            <td>{{ entity.code }}</td>
        </tr>
        <tr>
            <td>State</td>
            <td>{{ entity.stateString }}</td>
        </tr>
        <tr>
            <td>Quantity</td>
            <td>{{ entity.quantity }}</td>
        </tr>
        <tr>
            <td>Place</td>
            <td>{{ entity.place }}</td>
        </tr>
        <tr>
            <td>SubFamily</td>
            <td>{{ entity.subFamily }}</td>
        </tr>
        <tr>
            <td>Family</td>
            <td>{{ entity.subFamily.family }}</td>
        </tr>

        <tr>
            <td>SubFamily Fields</td>
            <td>
                <table>
                    {% for fieldValue in entity.fieldValues %}
                        <tr>
                            <td>{{ fieldValue.subFamilyField }}</td>
                            <td>{{ fieldValue.value }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
    </table>

    {% if is_granted('ROLE_CLIENT') %}
        <h3>Add Article to Loan:</h3>
        <form action="" method="post">
            {{ form_errors(form) }}
            {{ form_rest(form) }}

            <input type="submit" />
        </form>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin_Article_edit', {'id': entity.id} ) }}">Edit</a>
    {% endif %}
{% endblock %}